package-lock=false

# For npm v7 and later, an authToken needs to be present in the publish request (even though we don't use it
# for the publishing to verdaccio)
# Source: https://twitter.com/verdaccio_npm/status/1357798427283910660
//localhost:4872/:_authToken=fake
