{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["packages/**/docs/**/*.md"],
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
