name: Next Major Release

on:
  workflow_run:
    workflows: ['CI']
    branches: ['next-major-release/**']
    types:
      - completed

env:
  # Temporarily pinning to 15.4 for the v15 installation because there is some change in NPM
  # that causes a ENEEDAUTH error in the publishing step of the integration-tests that needs
  # to be figured out
  PRIMARY_NODE_VERSION: 15.4

jobs:
  publish_major_prerelease_version:
    name: Publish the latest code as a prerelease of the next major version
    runs-on: ubuntu-latest
    # Important, only run if CI workflow was successful
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v2

      # Fetch all history for all tags and branches in this job because lerna needs it
      - run: |
          git fetch --prune --unshallow

      - name: Use Node.js ${{ env.PRIMARY_NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.PRIMARY_NODE_VERSION }}
          registry-url: https://registry.npmjs.org/

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies and build
        run: |
          # This also runs a build as part of the postinstall
          # bootstrap
          yarn --ignore-engines --frozen-lockfile

      - name: Publish all packages to npm to the "next" tag (no github commit or release)
        run: |
          npx lerna version premajor --loglevel=verbose --exact --force-publish --no-git-tag-version --no-push --yes

          # Commit needed because of https://github.com/lerna/lerna/issues/2550
          git add --all
          git commit -m 'chore: next-major-release prerelease' --no-verify

          npx lerna publish from-package --no-git-reset --dist-tag=next --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
